
body{
    background: url("../images/boston.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

h1{
	color: black;
	font-size: 145px;
	font-family: 'Abril Fatface', cursive;
	font-weight: bolder;
}

h3{
	color:  #09144A;
	font-size: 24px;
	font-weight: bold;


}
#title{
	text-indent: 10px;
	-webkit-text-stroke-width: 2.5px;
   	-webkit-text-stroke-color: black;
}
.title_img{
	height: 115px;
	width: auto;
	position: relative;
	bottom:15px;
}

.question_alert{
	background-color: #FFF0EF;
	opacity: 0.7;
	width: 80%;
	padding-left: 20px;
	border-style: solid; 
	border-color: #3B5330;
	border-width: 4px;
}

/*.bgClip {
    background:url('../images/flag.jpg');
    background-position:0 0;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;

}*/

#timer{
/*	background-color: #662C8F;*/
	color: #994A26;
	margin: 20px;
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;

}