
body{
    background: url("../images/boston.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

h1{
	color: black;
	font-size: 135px;
	font-family: 'Abril Fatface', cursive;
	font-weight: bolder;
	opacity: 1;
}

h2{
	border-style: solid;
	border-width: 8px;
	border-color: #CF6D37;
}

h3{
	color:  #CF6D37;
	font-size: 26px;
	font-weight: bold;
}

p{
	color: #264366 ;
	font-size: 20px;
}

#title{
	text-indent: 10px;
	-webkit-text-stroke-width: 2.5px;
   	-webkit-text-stroke-color: black;
}
.title_img{
	height: 115px;
	width: auto;
	position: relative;
	bottom:15px;
}

.main_box{
	text-align: center;
	background-color: #FFF0EF;
	opacity: 0.9;
	width: 80%;
	border-style: solid; 
	border-color: #264366;
	border-width: 4px;
	margin: 10%;
}

/*.bgClip {
    background:url('../images/flag.jpg');
    background-position:0 0;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;

}*/

#timer, h2{
/*	background-color: #662C8F;*/
	color: #CF6D37;
	margin: 15px;
	margin-top: 50px;
	font-size: 50px;
	font-weight: bolder;
	text-align: center

}

.btn-primary{
	opacity: 1;
}